<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert</title>
</head>
<body>
{% if user %}
    <form action="{{ url_for('UsersView:post') }}" method="post">
        <p>
            <input id="user_id" name="_id" type="hidden" value="{{ user._id }}"/>
        </p>

        <p>
            <input id="username" name="username" required="required" type="text" placeholder="Name" value="{{ user.username }}"/>
            <label for="username" class="uname" >Your name</label>
        </p>

        <p>
            <input id="lastname" name="lastname" required="required" type="text" placeholder="Lastname" value="{{ user.lastname }}"/>
            <label for="lastname" class="uname" >Your last name</label>
        </p>

        <p>
            <input id="old" name="old" required="required" type="number" placeholder="How old are you" value="{{ user.old }}"/>
            <label for="old" class="uname" >How old are you</label>
        </p>

        <p>
            <input id="gender" name="gender" required="required" type="text" placeholder="Gender" value="{{ user.gender }}"/>
            <label for="gender" class="uname" >Your gender</label>
        </p>

        <p>
            <input id="email" name="email" required="required" type="email" placeholder="Email" value="{{ user.email }}"/>
            <label for="email" class="uname" >Your email</label>
        </p>

        <input type="submit" value="Submit">
    </form>

{% else %}

    <form action="{{ url_for('UsersView:post') }}" method="post">
        <p>
            <input id="username" name="username" required="required" type="text" placeholder="Name" />
            <label for="username" class="uname" >Your name</label>
        </p>

        <p>
            <input id="lastname" name="lastname" required="required" type="text" placeholder="Lastname" />
            <label for="lastname" class="uname" >Your last name</label>
        </p>

        <p>
            <input id="old" name="old" required="required" type="number" placeholder="How old are you" />
            <label for="old" class="uname" >How old are you</label>
        </p>

        <p>
            <input id="gender" name="gender" required="required" type="text" placeholder="Gender" />
            <label for="gender" class="uname" >Your gender</label>
        </p>

        <p>
            <input id="email" name="email" required="required" type="email" placeholder="Email" />
            <label for="email" class="uname" >Your email</label>
        </p>

        <input type="submit" value="Submit">
    </form>
{% endif %}

</body>
</html>